<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>Admin</title>
</head>

<body>
<div th:insert="basicfrag :: navFrag"></div>

<h2>Admin Page</h2>

<p th:text="'Current User:' + ${crntuser.username}"></p>
<h4>email</h4>
<p th:text="${crntuser.email}"></p><br/>
<h4>last name</h4>
<p th:text="${crntuser.lastName}"></p>

<a href="/secure">Secure Page</a>

<div th:insert="basicfrag :: scriptFrag"></div>
</body>
</html>