<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>HomePage</title>
</head>
<body class="bodyhomepage">
<div th:insert="basicfrag :: navFrag"></div>

<div class="jumbotron jumbotron-fluid maintitle">
    <h1 class="display-4">All Messages</h1>
</div>
<div class="container" id="homepagecontainer">

    <table class="msgtable">
        <tr class="msgtr" style="width: 100%">
            <th class="msgth">Title</th>
            <th class="msgth">Content</th>
            <th class="msgth">Posted Date</th>
            <th class="msgth">Posted By</th>
            <th class="msgth">Action</th>
        </tr>
        <tr class="msgtr" th:each="item : ${allmsg}">
            <td class="msgtd" th:text="${item.getTitle()}"></td>
            <td class="msgtd" th:text="${item.getContent()}"></td>
            <td class="msgtd" th:text="${item.getPostedDate()}"></td>
            <td class="msgtd" th:text="${item.getPostedBy()}"></td>
            <td>
                <div class="btn-group" role="group" aria-label="...">

                    <button type="button" class="btn btn-default" style="padding: 5px">
                        <span class="glyphicon glyphicon-search"></span>
                        <a th:href="@{/detailmsg/{id}(id=${item.id})}">Detail</a></button>

                    <button type="button" class="btn btn-default" style="padding: 5px"
                            th:if="${item.getPostedBy() == loginuser}">
                        <span class="glyphicon glyphicon-edit"></span>
                        <a th:href="@{/updatemsg/{id}(id=${item.id}) }">
                            Update</a></button>


                    <button type="button" class="btn btn-default" style="padding: 5px"
                            th:if="${item.getPostedBy() == loginuser}">
                        <span class="glyphicon glyphicon-trash"></span>
                        <a th:href="@{/deletemsg/{id}(id=${item.id})}">
                            Delete</a></button>

                </div>
            </td>
        </tr>
    </table>
    <div th:insert="basicfrag :: footerFrag"></div>
</div>


<div th:insert="basicfrag :: scriptFrag"></div>
</body>
</html>