<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>InsecurePg</title>
</head>
<body class="bodyhomepage">
<div th:insert="basicfrag :: navFrag"></div>

<div class="jumbotron jumbotron-fluid maintitle">
    <h1 class="display-4">All Messages</h1>
</div>
<div class="container" id="homepagecontainer">

<table class="msgtable">
    <tr class="msgtr" style="width: 100%">
        <th class="msgth">Title</th>
        <th class="msgth">Content</th>
        <th class="msgth">Posted Date</th>
        <th class="msgth">Posted By</th>
        <th class="msgth">Action</th>
    </tr>
    <tr class="msgtr" th:each="item : ${allmsg}">
        <td class="msgtd" th:text="${item.getTitle()}"></td>
        <td class="msgtd" th:text="${item.getContent()}"></td>
        <td class="msgtd" th:text="${item.getPostedDate()}"></td>
        <td class="msgtd" th:text="${item.getPostedBy()}"></td>
        <td>
            <button type="button" class="glyphicon glyphicon-search" style="width: 50px">
                <a th:href="@{/detailmsg/{id}(id=${item.id})}"></a></button> <br/>
<div>
                <!-- Show Updata & Delete buttons for message owner only -->
                <span th:if="${item.getPostedBy() == loginuser}">
                    <button type="button" class="glyphicon glyphicon-edit"  style="width: 50px">
                    <a th:href="@{/updatemsg/{id}(id=${item.id})}"></a></button><br/>
                    <button type="button" class="glyphicon glyphicon-trash" style="width: 50px">
                    <a th:href="@{/deletemsg/{id}(id=${item.id})}"></a></button><br/>
                </span>
            </div>
        </td>
    </tr>
</table>
<div th:insert="basicfrag :: footerFrag"></div>
</div>


<div th:insert="basicfrag :: scriptFrag"></div>
</body>
</html>