<!DOCTYPE html>
<html lang="en" xmlns:th="https:www.thymeleaf.org">
<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>InsecurePg</title>
</head>
<body class="bodyhomepage">
<div th:insert="basicfrag :: navFrag"></div>

<div class="jumbotron jumbotron-fluid maintitle">
    <h1 class="display-4">Title Goes Here!</h1>
</div>
<div class="container" id="homepagecontainer">


<h2>Insecure Page</h2>

<a href="/secure">Secure Page</a>
</div>


<div th:insert="basicfrag :: scriptFrag"></div>
</body>
</html>