<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
    <a href="/register">Register...</a>
    <h1>Login Page</h1>
    <div th:if="${param.error}">
        Invalid username or password.
    </div>
    <div th:if="${param.logout}">
        You have been logged out
    </div>
    <p th:text="${message}"></p><br/>
    <form th:action="@{/login}" method="post" autocomplete="off" id="loginform">
        <div>
            <label>User Name: <input type="text" name="username" id="inputtext"/></label>
        </div>
        <div>
            <label>Password: <input type="password" name="password" id="inputtext"/></label>
        </div>
        <br/>
        <div>
            <input type="submit" value="Sign In"/>
        </div>
    </form>
</body>
</html>