<!DOCTYPE html>

<!--
Make sure pom.xml has dependency as below
<dependency>
			<groupId>org.thymeleaf.extras</groupId>
			<artifactId>thymeleaf-extras-springsecurity5</artifactId>
		</dependency>
-->
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>SecurePg</title>
</head>
<body>
<div th:insert="basicfrag :: navFrag"></div>
<!-- hasAuthority has been set in the SecurityConfiguration file -->
<div sec:authorize="hasAuthority('ADMIN')">
    Administrators will see this text.
</div>

<div sec:authorize="hasAuthority('USER')">
    Users will see this text.
</div>


<h3>Secure Page</h3>

<h4>email</h4>
<p th:text="${crntuser.email}"></p><br/>
<h4>last name</h4>
<p th:text="${crntuser.lastName}"></p>


<div th:insert="basicfrag :: scriptFrag"></div>
</body>
</html>