<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <div th:insert="basicfrag :: headerFrag"></div>
    <title>AllCourses</title>
</head>
<body>
    <div th:insert="basicfrag :: navFrag"></div>

    <table>
        <tr style="width: 100%">
            <th>Title</th>
            <th>Description</th>
            <th>Credit</th>
            <th>Action</th>
        </tr>

        <tr th:each="item : ${courses}">
            <td th:text="${item.getTitle()}"></td>
            <td th:text="${item.getDescription()}"></td>
            <td th:text="${item.getCredit()}"></td>
            <td>
                <div class="btn-group" role="group" aria-label="...">

                    <button type="button" class="btn btn-default">
                        <span class="glyphicon glyphicon-search"></span>
                        <a th:href="@{/detailcourse/{id}(id=${item.id})}">
                            Detail</a></button>


                    <button type="button" class="btn btn-default" sec:authorize="hasAuthority('ADMIN')">
                        <span class="glyphicon glyphicon-edit"></span>
                        <a th:href="@{/updatecourse/{id}(id=${item.id})}">
                            Update</a></button>


                    <button type="button" class="btn btn-default" sec:authorize="hasAuthority('ADMIN')">
                        <span class="glyphicon glyphicon-search"></span>
                        <a th:href="@{/deletecourse/{id}(id=${item.id})}">
                            Delete</a></button>

                </div>
            </td>
        </tr>
    </table>


    <div th:insert="basicfrag :: scriptFrag"></div>

</body>
</html>